Repository exercism/coffeescript, pull requests merged in 2024-04, with the labels that each got.

#298 Add hamming
  config.json
  exercises/practice/hamming/.docs/instructions.md
  exercises/practice/hamming/.meta/config.json
  exercises/practice/hamming/.meta/example.coffee
  exercises/practice/hamming/.meta/tests.toml
  exercises/practice/hamming/hamming.coffee
  exercises/practice/hamming/hamming.spec.coffee
Labels: x:module/practice-exercise, x:rep/medium

#301 scrabble-score: sync
  exercises/practice/scrabble-score/.docs/instructions.md
  exercises/practice/scrabble-score/.docs/introduction.md
Labels: x:size/tiny

#302 dnd-character: sync
  exercises/practice/dnd-character/.docs/instructions.md
  exercises/practice/dnd-character/.docs/introduction.md
Labels: x:size/tiny

#305 Add gigasecond
  config.json
  exercises/practice/gigasecond/.docs/instructions.md
  exercises/practice/gigasecond/.docs/introduction.md
  exercises/practice/gigasecond/.meta/config.json
  exercises/practice/gigasecond/.meta/example.coffee
  exercises/practice/gigasecond/.meta/tests.toml
  exercises/practice/gigasecond/gigasecond.coffee
  exercises/practice/gigasecond/gigasecond.spec.coffee
Labels: x:module/practice-exercise, x:rep/large

#306 Add high-scores
  config.json
  exercises/practice/high-scores/.docs/instructions.md
  exercises/practice/high-scores/.meta/config.json
  exercises/practice/high-scores/.meta/example.coffee
  exercises/practice/high-scores/.meta/tests.toml
  exercises/practice/high-scores/high-scores.coffee
  exercises/practice/high-scores/high-scores.spec.coffee
Labels: x:module/practice-exercise, x:rep/large
