Repository exercism/coffeescript, pull requests merged in 2024-09, with the labels that each got.

#337 ci(dependabot): change to monthly interval
  .github/dependabot.yml
Labels: x:size/tiny

#341 correcting a previously overeager s/it/xit/g
  exercises/practice/simple-linked-list/simple-linked-list.spec.coffee
Labels: x:rep/tiny

#342 Clarifications for binary-search-tree exercise
  exercises/practice/binary-search-tree/.docs/instructions.append.md
  exercises/practice/binary-search-tree/binary-search-tree.coffee
Labels: x:type/docs, x:size/small

#343 Add all-your-base exercise
  config.json
  exercises/practice/all-your-base/.docs/instructions.md
  exercises/practice/all-your-base/.docs/introduction.md
  exercises/practice/all-your-base/.meta/config.json
  exercises/practice/all-your-base/.meta/example.coffee
  exercises/practice/all-your-base/.meta/tests.toml
  exercises/practice/all-your-base/all-your-base.coffee
  exercises/practice/all-your-base/all-your-base.spec.coffee
Labels: x:module/practice-exercise, x:rep/large

#344 Add meetup exercise
  config.json
  exercises/practice/meetup/.docs/instructions.md
  exercises/practice/meetup/.docs/introduction.md
  exercises/practice/meetup/.meta/config.json
  exercises/practice/meetup/.meta/example.coffee
  exercises/practice/meetup/.meta/tests.toml
  exercises/practice/meetup/meetup.coffee
  exercises/practice/meetup/meetup.spec.coffee
Labels: x:module/practice-exercise, x:rep/large

#347 Add bank-account exercise
  config.json
  exercises/practice/bank-account/.docs/instructions.append.md
  exercises/practice/bank-account/.docs/instructions.md
  exercises/practice/bank-account/.docs/introduction.md
  exercises/practice/bank-account/.meta/config.json
  exercises/practice/bank-account/.meta/example.coffee
  exercises/practice/bank-account/.meta/tests.toml
  exercises/practice/bank-account/bank-account.coffee
  exercises/practice/bank-account/bank-account.spec.coffee
Labels: x:module/practice-exercise, x:rep/large

#346 Add knapsack exercise
  config.json
  exercises/practice/knapsack/.docs/instructions.md
  exercises/practice/knapsack/.docs/introduction.md
  exercises/practice/knapsack/.meta/config.json
  exercises/practice/knapsack/.meta/example.coffee
  exercises/practice/knapsack/.meta/tests.toml
  exercises/practice/knapsack/knapsack.coffee
  exercises/practice/knapsack/knapsack.spec.coffee
Labels: x:module/practice-exercise, x:rep/large
