Repository exercism/coffeescript, pull requests merged in 2024-07, with the labels that each got.

#317 Add matching-brackets
  config.json
  exercises/practice/matching-brackets/.docs/instructions.md
  exercises/practice/matching-brackets/.docs/introduction.md
  exercises/practice/matching-brackets/.meta/config.json
  exercises/practice/matching-brackets/.meta/example.coffee
  exercises/practice/matching-brackets/.meta/tests.toml
  exercises/practice/matching-brackets/matching-brackets.coffee
  exercises/practice/matching-brackets/matching-brackets.spec.coffee
Labels: x:module/practice-exercise, x:rep/large

#318 Add spiral-matrix
  config.json
  exercises/practice/spiral-matrix/.docs/instructions.md
  exercises/practice/spiral-matrix/.docs/introduction.md
  exercises/practice/spiral-matrix/.meta/config.json
  exercises/practice/spiral-matrix/.meta/example.coffee
  exercises/practice/spiral-matrix/.meta/tests.toml
  exercises/practice/spiral-matrix/spiral-matrix.coffee
  exercises/practice/spiral-matrix/spiral-matrix.spec.coffee
Labels: x:module/practice-exercise, x:rep/large

#319 Add kindergarten-garden
  config.json
  exercises/practice/kindergarten-garden/.docs/instructions.md
  exercises/practice/kindergarten-garden/.docs/introduction.md
  exercises/practice/kindergarten-garden/.meta/config.json
  exercises/practice/kindergarten-garden/.meta/example.coffee
  exercises/practice/kindergarten-garden/.meta/tests.toml
  exercises/practice/kindergarten-garden/kindergarten-garden.coffee
  exercises/practice/kindergarten-garden/kindergarten-garden.spec.coffee
Labels: x:module/practice-exercise, x:rep/large

#320 Replace escaped double quotes in kindergarten-garden
  exercises/practice/kindergarten-garden/kindergarten-garden.spec.coffee
Labels: x:rep/tiny

#322 Fix syntax error in matching-brackets example
  exercises/practice/matching-brackets/.meta/example.coffee
Labels: x:action/fix, x:rep/tiny

#323 Add minesweeper
  config.json
  exercises/practice/minesweeper/.docs/instructions.md
  exercises/practice/minesweeper/.docs/introduction.md
  exercises/practice/minesweeper/.meta/config.json
  exercises/practice/minesweeper/.meta/example.coffee
  exercises/practice/minesweeper/.meta/tests.toml
  exercises/practice/minesweeper/minesweeper.coffee
  exercises/practice/minesweeper/minesweeper.spec.coffee
Labels: x:module/practice-exercise, x:rep/large

#324 resistor-color: sync
  exercises/practice/resistor-color/.docs/instructions.md
Labels: x:size/tiny

#325 resistor-color-duo: sync
  exercises/practice/resistor-color-duo/.docs/instructions.md
Labels: x:size/tiny

#326 Pascals to Pascal's
  config.json
Labels: x:rep/tiny

#328 Add largest-series-product
  config.json
  exercises/practice/largest-series-product/.docs/instructions.md
  exercises/practice/largest-series-product/.docs/introduction.md
  exercises/practice/largest-series-product/.meta/config.json
  exercises/practice/largest-series-product/.meta/example.coffee
  exercises/practice/largest-series-product/.meta/tests.toml
  exercises/practice/largest-series-product/largest-series-product.coffee
  exercises/practice/largest-series-product/largest-series-product.spec.coffee
Labels: x:module/practice-exercise, x:rep/large

#329 Add run-length-encoding
  config.json
  exercises/practice/run-length-encoding/.docs/instructions.md
  exercises/practice/run-length-encoding/.meta/config.json
  exercises/practice/run-length-encoding/.meta/example.coffee
  exercises/practice/run-length-encoding/.meta/tests.toml
  exercises/practice/run-length-encoding/run-length-encoding.coffee
  exercises/practice/run-length-encoding/run-length-encoding.spec.coffee
Labels: x:module/practice-exercise, x:rep/medium, x:rep/small

#330 Uppercase RNA
  config.json
Labels: x:action/proofread, x:rep/tiny
